.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  overflow: auto;
  text-align: center;
  height: calc(100% - var(--header-height));

  .avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .name {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .address {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .imagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 16px;

    .image {
      width: 300px;
      height: 300px;
      margin: 16px;
      border-radius: 8px;
      object-fit: cover;
    }
  }
}